<app-table [numCells]="numCells" [numRows]="numRows"></app-table>

<div class="fb-dynamicgrid">
  <!-- <table class="fb-dynamicgrid__table" #fbDynamicGrid>
    <tr
      *ngFor="let row of gridData; index as rowIndex"
      class="fb-dynamicgrid__row"
    >
      <td
        *ngFor="let cell of row; index as cellIndex"
        class="fb-dynamicgrid__cell"
        id="td-{{ rowIndex }}-{{ cellIndex }}"
        [attr.rowspan]="cell.rowspan"
        [attr.colspan]="cell.colspan"
      >
        <input
          type="text"
          class="fb-dynamicgrid__input"
          [placeholder]="rowIndex + ':' + cellIndex"
          name="{{ rowIndex }}-{{ cellIndex }}"
          id="in-{{ rowIndex }}-{{ cellIndex }}"
          [attr.data-row]="rowIndex"
          [attr.data-cell]="cellIndex"
          (change)="getRow($event, rowIndex, cellIndex)"
          (keyup)="getRow($event, rowIndex, cellIndex)"
        />
      </td>
    </tr>
  </table> -->
  <div class="fb-dynamicgrid__actions">
    <button
      class="fb-dynamicgrid__btn"
      (click)="addRows()"
    >
      Rows +
    </button>
    <button
      class="fb-dynamicgrid__btn"
      (click)="addColumns()"
    >
      Columns +
    </button>
  </div>
</div>
