<div class="fb-dynamicgrid">
  <table class="fb-dynamicgrid__table" #fbDynamicGrid>
    <tr
      *ngFor="let row of gridData; index as rowIndex"
      class="fb-dynamicgrid__row"
    >
      <td
        *ngFor="let cell of row; index as cellIndex"
        class="fb-dynamicgrid__cell"
        id="td-{{ rowIndex }}-{{ cellIndex }}"
        [attr.aria-rowindex]="rowIndex"
        (click)="selectedCell($event)"
      >
      {{ rowIndex }}-{{ cellIndex }}
      </td>
    </tr>
  </table>

  <div class="fb-dynamicgrid__actions">
    <button
      class="fb-dynamicgrid__btn"
      (click)="mergeCells(true)"
    >
      Merge Columns
    </button>
    <button
      class="fb-dynamicgrid__btn"
      (click)="mergeCells(false)"
    >
      Merge Rows
    </button>
    <button
      class="fb-dynamicgrid__btn"
      (click)="splitCells(true)"
    >
      Split Columns
    </button>
    <button
      class="fb-dynamicgrid__btn"
      (click)="splitCells(false)"
    >
      Split Rows
    </button>
  </div>
</div>
